/*GENERAL*/
*{
	margin: 0 auto;
	z-index: 0;
}

a, .logo, #break{
	color:#ECECEC;
}

/*NAVBAR*/
#nav{
	position:fixed;
	z-index: 5000;
	background-color: none;
}

#nav li{
	list-style-type: none;
	display: inline;
	padding-right: 5px;
}

#nav li a, #break{
	text-decoration: none;
	font-size:1.5em;
}

/*SECTIONS*/



#cover{
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;
  max-height: 200%;
  max-width: 100%;
  
  /* Set up proportionate scaling */
  width: 100%;
  /*height: 200%;*/
  
  /* Set up positioning */
  z-index: -1;
}

.logo{
	position:absolute;
	margin: 140px 0px 0px 29%;
	font-size: 5.3em;
	z-index: 2;
}

#summary{
	font-size: 1.3em;
	margin: 239px 0px 0px 36%;
}

/*ABOUT*/
#port-pic{
 height: 10em;
 width: 10em;  
 background: url(../images/portfolio-pic.jpg);
 border-radius: 100%;
 margin-left:42%;
 margin-top: 1%;
 border: 1px solid #ECECEC;
 z-index: 2002;
}

#desc, #resume, #contact{
	position:absolute;
	margin: 1% 10% 0% 10%;
	font-size: 1.4em
}

#resume-header
{
	position: relative;
	font-size: 1.5em;
	margin-left: 43%;
  margin-top: -5%;
}

/*MEDIA QUERIES*/
@media (max-width: 354px) {
	#jumbo-name, #summary{
		visibility: hidden
	}
	#port-pic{
		margin-left:25%;
	}

	#resume-header{
		margin-left: 24%;
	}

	#contact{
		visibility: hidden;
	}
}
@media (max-width: 379px) and (min-width: 355px){
	#jumbo-name{
		font-size: 2.9em;
		margin-top: 186px;
		margin-left: 12%;
	}

	#resume-header{
		margin-left: 27%;
	}
	#summary{
		margin-top: 240px;
		margin-left: 6%;
		font-size: 1em;
	}

	#port-pic{
	 height: 10em;
	 width: 10em;  
	 background: url(../images/portfolio-pic.jpg);
	 border-radius: 100%;
	 margin-left:26%;
	 margin-top: 2%;
	 border: 1px solid #ECECEC;
	 z-index: 2002;
	}

	#contact{
		margin-top:187%;
		height: 40%;
	}

}

@media (max-width: 429px) and (min-width: 380px){
	#jumbo-name{
		font-size: 2.9em;
		margin-top: 150px;
		margin-left: 16%;
	}

	#resume-container{
		margin-top:15%;
	}

	#resume-header{
		margin-left: 28%;
		margin-top:10%;
	}

	#summary{
		margin-top: 202px;
		margin-left:12%;
		font-size: 1em;
	}

	#port-pic{
	 height: 10em;
	 width: 10em;  
	 background: url(../images/portfolio-pic.jpg);
	 border-radius: 100%;
	 margin-left:30%;
	 margin-top: 0%;
	 border: 1px solid #ECECEC;
	 z-index: 2002;
	}
}

@media (max-width: 559px) and (min-width: 430px){
		#jumbo-name{
		font-size: 2.9em;
		margin-top: 175px;
		margin-left: 16%;
	}
	
	#resume-container{
		margin-top:15%;
	}

	#resume-header{
		margin-left: 24%;
    margin-top: 3%;
	}

	#summary{
		margin-top: 225px;
		margin-left:13%;
		font-size: 1em;
	}

	#port-pic{
	 height: 10em;
	 width: 10em;  
	 background: url(../images/portfolio-pic.jpg);
	 border-radius: 100%;
	 margin-left:30%;
	 margin-top: 0%;
	 border: 1px solid #ECECEC;
	 z-index: 2002;
	}
}

@media (max-width: 659px) and (min-width: 560px){
	#jumbo-name{
		font-size: 3.9em;
		margin-top: 120px;
		margin-left: 21%;
	}

	#resume-container{
		margin-top:9%;
	}

	#resume-header{
		margin-left: 31%;
		margin-top: 0%;
	}
	#summary{
		margin-top: 195px;
		margin-left:28%;
		font-size: 1.05em;
	}

	#port-pic{
	 height: 10em;
	 width: 10em;  
	 background: url(../images/portfolio-pic.jpg);
	 border-radius: 100%;
	 margin-left:35%;
	 margin-top: 0%;
	 border: 1px solid #ECECEC;
	 z-index: 2002;
	}
}

@media (max-width: 760px) and (min-width: 660px){
		#jumbo-name{
		font-size: 3.9em;
		margin-top: 130px;
		margin-left: 25%;
	}

	#resume-header{
		margin-left: 39%;
		margin-top: 0%
	}

	#summary{
		margin-top: 197px;
		margin-left:30%;
		font-size: 1.05em;
	}

	#port-pic{
	 height: 10em;
	 width: 10em;  
	 background: url(../images/portfolio-pic.jpg);
	 border-radius: 100%;
	 margin-left:37%;
	 margin-top: 0%;
	 border: 1px solid #ECECEC;
	 z-index: 2002;
	}
}

@media (max-width: 860px) and (min-width: 759px){
	#jumbo-name{
		font-size: 4.3em;
		margin-top: 130px;
		margin-left: 29%;
	}

	#summary{
		margin-top: 210px;
		margin-left:41%;
		font-size: 1.05em;
	}
}

@media (max-width: 1050px) and (min-width: 861px) {
  .logo{
    font-size: 4.3em;
  }

  #summary{
  	font-size: 1.1em;
  	margin-top: 226px;
  }
}

@media (min-width: 1050px) and (max-width: 1309px) {

  #summary{
  	margin-left: 38%;
  }
}

@media (min-width: 1310px) and (max-width: 1400px) {

  #summary{
  	margin-left: 36.5%;
  }
}