/*GENERAL*/
*{
	margin:0 auto;
	overflow: hidden;
/*	border: red solid 1px;*/
}

p,a,li{
	color:rgba(236,236,236, 1);
}

#projects, #contact {
	z-index: 5747;
}

#title, #instruct, #title, #nav, #projects, #contact,  {
	position: relative;
}

#instruct, .info-sec, #nav {
	position: absolute;
}

#nav{ 
  text-align: center;
  bottom: -4%;
  right: 6%;
  z-index: 8;
}

#nav li{
	display:inline;
}
/*MAIN SCREEN*/

body{ 
  background: url(../images/tree-star.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.screen{
	height: 43em;
	width: 100%;
	z-index: 2;
	position: relative;
}

#instruct{
	height: 16%;
  	width: 2%;
	background-color: rgba(0,0,0,0.7);
	border-top-right-radius: 3% 16%;
	border-top-left-radius: 3% 16%;
	border-bottom-right-radius: 3% 16%;
	border-bottom-left-radius: 3% 16%;
	top: 35%;
	padding-right: 5%;
  	padding-left: 5%;
}

#instruct p {
	font-size: 1.4em;
	margin: 2.5% 0% 0% 0%;
	text-align: center;
}

#title{
	font-size: 2.3em;
	margin-left:1%;
	margin-top: -630px;
}


/*LINKS NAVS AND BUTTONS*/
li{
	display: inline;
	list-style-type: none;
}

li a{
	text-decoration: none;
	font-size: 1.5em;
}

.button{
  border-color: #ececec;
  color: #ececec;
}

.button:hover{
	border-color: goldenrod;
	color: #ececec;
}

.button:visited{
	color:goldenrod;
}

/*INFO CONTAINER*/
.info-sec{
  border-radius: 20px;
  min-width: 70%;
  margin-right: 10%;
  margin-left: 10%;
  bottom: 35%;
}

#about {
	top: 8%;
}

#desc{
	padding: 2% 7% 0% 7%;
  font-size: 1.03em;
}

#resume, #projects, #contact, #about{
  background-color: rgba(0,0,0,.7);
  padding: 40px;
}

#resume{
	bottom: 19%;
	padding-right: 7%;
 	padding-left: 7%;
}

.company{
	  font-weight: bold;
    color: goldenrod;
}

#projects{
  margin-top: 4%;
  top: 5%;
  right: 0%;
  padding-top: 5%;
}

/*ABOUT*/
#port-pic{
	height: 10em;
	width: 10em;
	background-image: url(../images/portfolio-pic.jpg);
	opacity: 1;
	border-radius: 100%;
}


#desc, #resume{
	color: rgba(236, 236, 236, 1);
}

#resume p{
	font-size: 1.2em;
}


#blk_mkt, #wake_up{
	text-align: center;
}

#blk_mkt p a:hover, #wake_up p a:hover{
	color:goldenrod;
}

/*CONTACT*/

#contact{
	font-size: 2em;
	min-width: 45%;
	padding: 15px;
	margin-left: 25%;
	bottom: 50%;
	top: 17%;
}

#contact ul{
	position: absolute;
	bottom: 8%;
	margin-left: 20%;
  padding-left: 15%;
  padding-right: 15%;
}

#contract ul li {
	display:inline;
}

#contact a:hover{
	color:goldenrod;
}

#contact a{
	margin-right: 0%;
}

#follow{
	text-align: center;
}

#contact li{
	display: block;
	margin-left:0%;
}
/*HIDDEN AND VISIBILITY CLASSES*/

.visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 2s linear;
  -moz-transition: opacity 2s linear;
  -o-transition: opacity 2s linear;
  transition: opacity 2s linear;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
  -webkit-transition: visibility 0s 2s, opacity 2s linear;
  -moz-transition: visibility 0s 2s, opacity 2s linear;
  -o-transition: visibility 0s 2s, opacity 2s linear;
  transition: visibility 0s 2s, opacity 2s linear;
}

.visible-plus{
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.hidden-plus{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
  -webkit-transition: visibility 0s 0.5s, opacity 0.5s linear;
  -moz-transition: visibility 0s 0.5s, opacity 0.5s linear;
  -o-transition: visibility 0s 0.5s, opacity 0.5s linear;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

@media (max-width: 1180px){
	#resume{
	  top: 5%;
	  bottom: 20%;
	}
}

@media (max-width: 1000px){
	#about{
		bottom: 20%;
	}

	#nav{
		right: 8%;
	}

	#github, #linkedin {
		font-size: 1.4em;
	}

	#linkedin{
		right: 2%;
	}
}

@media (max-width: 905px) {
	#resume{
	   top: 7%;
	   bottom: 19%;
	   padding-top: 4%;
	  font-size: 0.9em;
	}

	#github, #linkedin{
		font-size: 1.2em;
	}
}

@media (max-width: 805px){
	#resume{
		top: 8%;
  		bottom: 18%;
  		padding-top: 5%;
	}
}

@media (max-width: 770px){
	#resume{
		top: 2%;
		bottom: 19%;
		padding-top: 4%;
		right: 0%;
	}

	#contact ul{
		margin-left: 15%;
	}
}

@media (max-width: 670px){
	#about{
		bottom: 15%;
	}

	#contact ul{
		margin-right: 20%;
	}

	#resume{
		font-size:0.8em;
	}

	#github, #linkedin{
		font-size: 1.1em;
	}
	.button{
		font-size: 0.7em;
		padding-right: 4%;
	}
}

@media (max-width: 610px){
	#nav{
    	top: 20px;
    	right: 4%;
	}

	.info-sec {
		top: 10%;
  		bottom: 8%;
	}

	#port-pic{
		margin-left: 30%;
	}

	#contact ul{
		margin-left: 10%;
	}

	#resume, #about, #projects, #contact {
		bottom: 1%;
		top: 12%;

	}

	#resume{
		left: -2%;;
  		top: 12%;
	}

	#projects{
		bottom:25%;
	}

	#contact {
    margin-top: 0%;
    padding-right: 7%;
    bottom: 52%;
    top: 16%;
    right: 11%;
	}

	#github{
  		padding-right: 4%;
	}

	#linkedin{

	}

	#contact a{
		margin-bottom: 40%;
		margin-right: 7%;
	}

	.button{
		padding-left: 2%;
	}
}

@media(max-width: 520px){

	#title {
  		font-size: 1.9em;
	}

	#resume p, #about p{
		font-size: 0.9em;
	}

	#about {
		bottom: 11%;
	}

	#port-pic{
		margin-left: 20%;
	}

	#resume{
		font-size: 1em;
	}

	#contact{
		margin-top: 4%;
    bottom: 50%;
    top: 16%;
    padding-right: 13%;
    right: 11%;
	}
}

@media (max-width: 450px){
	.info-sec{
		margin-left: 5%;
	}

	#about, #projects, #resume, #contact{
		top: 13%;
	}

	#about{
		bottom:4%;
	}

	#resume p {
		margin-top: -3%;
	}

	#contact{
		top: 12%;
    right: 11%;
    bottom: 54%;
    padding-right: 18%;
		  
	}

	#contact ul{
		margin-left: 11%;
	}
}

@media (max-width: 400px){
	#projects{
		margin-top: 30%;
    top: 5%;
    right: 0%;
    padding-top: 5%;
    left: 0%;
	}

	#resume{
		top: 20%;
		left: 5%;
	}

	#about, #contact, #projects, #resume{
		top: 12%;
		padding-top: 3%;
	}

	#projects{
		top: -3%;
    padding-top: 3%;
    bottom: 37%;
	}

	#contact{
    top: 13%;
    bottom: 49%;
    right: 10%;
    padding-right: 23%;
    padding-left: 0%;
  }

	#contact ul{
		margin-left: 15%;
    top: 16%;
	}

	#nav{
		right: 0%;
    left: 7%;
	}
}
