*{
	margin:0 auto;
}

html { 
  background: url(../images/endless-star.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p,a,li{
	color:#ECECEC;
}

#screen{
	margin:0%;
	height: 600px;
	width: 100%;
	background-color: rgba(0,0,0, 0.6);
	z-index: 2;
}

#title{
	font-size: 2.3em;
	margin-left:1%;
	margin-top: -47%;
	position:absolute;
}

li{
	display: inline;
	list-style-type: none;
}

li a{
	text-decoration: none;
	font-size: 1.5em;
}

#nav{
	position:absolute;
	margin-top:-43%;
	margin-left:37%;
	text-align: center;
}

#info-container{
	background-color: black;
	height:400px;
	width:60%;
	margin:-38% 20%;
	opacity:0.8;
	z-index: 3;
	border-radius: 5%;
	position:absolute;
}

.visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 3s linear;
  -moz-transition: opacity 3s linear;
  -o-transition: opacity 3s linear;
  transition: opacity 3s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
  -webkit-transition: visibility 0s 2s, opacity 2s linear;
  -moz-transition: visibility 0s 2s, opacity 2s linear;
  -o-transition: visibility 0s 2s, opacity 2s linear;
  transition: visibility 0s 2s, opacity 2s linear;
}