body{
	margin: 0px;
  padding: 0px; 
  font-family: Antonio, Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 44px;
}

/*COVER PAGE*/
#cover {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

.branding, .nav-element{
  margin-top: -10px;
  color:#1DABB8;
}

.nav-element{
  display: inline;
  float:left;
  position:relative;
  padding-left:20px;
}

#nav-list{
  background-color: transparent;
  box-shadow: none;
  margin-left:-10px;
  margin-top: -250px;
  padding-top:10px;
  width: 110%;
  position:fixed;
  z-index:3;
}


#circle{
  border: 1px solid #1DABB8;
  margin: 250px 0px 0px 560px;
  height: 300px;
  width: 300px;
  border-radius:100%;
  background-color: #1DABB8;
  position: relative;
}


#cover2{
  margin-top:270px;
  z-index: 2;
  max-width: 100%;
}

 #title{
  margin-bottom: 600px; 
  z-index: 4;
}

/*ABOUT */
#about, #skills, #work, footer{
  background-color:white;
  margin-top:260px;
  height:600px;
  width: 100%;
  z-index:2;
}
.about-page, footer{
  margin-top: -10px;
  text-align: center;
}

.attributes-page {
  text-align: center;
  margin-top:140px;
  font-size: 160px;
  color:white;
}


#nav-list.past-main {
  transition: all 2s;
  background-color:rgba(255,255,255,1)
}

#work{
  margin-top:-10px;
}

footer{
  margin-top: -50px;
  height:500px;
  background-color: #1DABB8;
}

#skills{
  margin-top: -10px;
  background-color: #1DABB8;
  white-space: nowrap;
}

/*SKILL ICONS*/
.devicon-css-original, .devicon-jquery-original, .devicon-html5-original, .devicon-ruby-original,.devicon-postgresql-original, .devicon-rails-plain, .devicon-nodejs-original, .devicon-backbonejs-original, .devicon-postgresql-original {
  max-height: 150px;
  max-width: 150px;
}

.row{
  display:block;
  float: center;
  margin: 0px 0px 0px 150px;
  padding: 30px;
}

.row1{
  padding: 60px;
  margin-left: 320px;
}

.row2{
  margin-left: 350px;
}

 /*if you want to change the original color */
.devicon-git-plain path {
  fill: red;
}

/*MEDIA QUERIES*/
@media (min-width: 400px) {
  .nav-element{
    font-size: 20px
  }
  .attributes-page {
    font-size: 60px;
  }
    #circle{
    height:190px;
    width:190px;
    margin-left: 110px;
  }
}

@media (min-width: 550px) {

  .nav-element{
    font-size: 25px
  }
  .attributes-page {
    font-size: 80px;
  }
  #circle{
    height:240px;
    width:240px;
    margin-left: 180px;
  }
  .row1{
   padding: 60px;
   margin-left: 120px;
  }

  .row2{
     margin-left: 150px;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .nav-element{
    font-size: 28px
  }
  .attributes-page {
    font-size: 100px;
  }
  #circle{
    height:250px;
    width:250px;
    margin-left: 300px;
  }

}

/* Larger than desktop */
@media (min-width: 1000px) {
    .nav-element{
    font-size: 30px
  }
  .attributes-page {
    font-size: 130px;
  }
  #circle{
    height:300px;
    width:300px;
    margin-left: 380px;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .nav-element{
    font-size: 30px
  }
  .attributes-page {
    font-size: 160px;
  }
  #circle{
    height:300px;
    width:300px;
    margin-left: 600px;
  }
}

