body{
  margin: 0px;
  padding: 0px; 
  font-family: Antonio, Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 44px;
}

/*COVER PAGE*/
#cover {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

.branding, .nav-element{
  margin-top: -10px;
  color:#1DABB8;
}

.nav-element{
  display: inline;
  float:left;
  position:relative;
  padding-left:20px;
}

#nav-list{
  background-color: transparent;
  box-shadow: none;
  margin-left:-10px;
  margin-top: -150px;
  padding-top:10px;
  width: 110%;
  position:fixed;
  z-index:3;
}


#circle{
  border: 1px solid #1DABB8;
  margin: 150px 0px 0px 560px;
  height: 300px;
  width: 300px;
  border-radius:100%;
  background-color: #1DABB8;
  position: relative;
}

#tag-line{
  text-align:center;
  margin: 10px 30px;
  color:#1DABB8;
  font-size:38px;
}



#cover2{
  margin-top:270px;
  z-index: 2;
  max-width: 100%;
}

 #title{
  margin-bottom: 600px; 
  z-index: 4;
}

/*ABOUT */
#about, #skills, #projects, footer{
  background-color:white;
  margin-top:260px;
  height:600px;
  width: 100%;
  z-index:2;
}

#about{
  padding: 20px;
  text-align: center;
}

#personal-pic{
 height: 150px;
 width: 150px;  
  background: url(../images/portfolio-pic.jpg);
  border-radius: 100%;
  margin-left:620px;
  border: 1px solid #1DABB8;
}

.about-page, footer{
  margin-top: -10px;
  text-align: center;
}

.attributes-page {
  text-align: center;
  margin-top:140px;
  font-size: 160px;
  color:white;
}


#nav-list.past-main {
  transition: all 2s;
  background-color:rgba(255,255,255,1)
}

#projects{
  margin-top:-10px;
}

footer{
  margin-top: -50px;
  height:500px;
  background-color: #1DABB8;
}

#skills{
  margin-top: -10px;
  background-color: #1DABB8;
  white-space: nowrap;
}

/*SKILL ICONS*/
.devicon-css-original, .devicon-jquery-original, .devicon-html5-original, .devicon-ruby-original,.devicon-postgresql-original, .devicon-rails-plain, .devicon-nodejs-original, .devicon-backbonejs-original, .devicon-postgresql-original {
  max-height: 150px;
  max-width: 150px;
}

.row{
  display:block;
  float: center;
  margin: 0px 0px 0px 150px;
  padding: 30px;
}

.row1{
  padding: 60px;
  margin-left: 360px;
}

.row2{
  margin-left: 390px;
}

/*PROJECTS*/
.proj-img{
  height:350px;
  width: 350px;
  
}

.proj-header{
  padding-top:35px;
  font-size: 40px;
  text-align: center;
}

.carousel ul{
  margin-left: 300px;
  padding-top:80px;
}

.carousel ul li{
  padding: 20px 40px;
  display: inline;
}

.proj-img:hover{
  transition: all 1s;
  height: 380px;
  width:380px;
}

/*CONTACT FORM -- See Skeleton Page*/

/*FOLLOW ME ICONS*/
.fa{
  padding-right:20px;
}

a:hover{
  fill: black;
 
}

span{
  padding-bottom:100px;
}


/*MEDIA QUERIES*/
@media (max-width: 400px) {
  .nav-element{
    font-size: 20px
  }
  .attributes-page {
    font-size: 60px;
  }
    #circle{
    height:190px;
    width:190px;
    margin-left: 110px;
  }
  #devicon-mobile-row1{
  margin-left: 50px;
}

#devicon-mobile-row2{
  margin-left: 140px;
}
#personal-pic{
  margin-left: 420px;
}

}

@media (max-width: 550px) {

  .nav-element{
    font-size: 25px
  }
  .attributes-page {
    font-size: 80px;
  }
  #circle{
    height:240px;
    width:240px;
    margin-left: 180px;
  }
    #devicon-mobile-row1{
  margin-left: 60px;
}

#devicon-mobile-row2{
  margin-left: 140px;
}
#personal-pic{
  margin-left: 420px;
}

}

/* Larger than tablet */
@media (max-width: 750px) {
    .nav-element{
    font-size: 28px
  }
  .attributes-page {
    font-size: 100px;
  }
  #circle{
    height:250px;
    width:250px;
    margin-left: 300px;
  }
  #personal-pic{
  margin-left: 420px;
}
  .carousel ul{
  margin-left: 10px;
  padding-top:80px;
}

}

/* Larger than desktop */
@media (max-width: 1000px) {
    .nav-element{
    font-size: 30px
  }
  .attributes-page {
    font-size: 130px;
  }
  #circle{
    height:300px;
    width:300px;
    margin-left: 380px;
  }
 
  .carousel ul{
  margin-left: 50px;
  padding-top:80px;
}
}

/* Larger than Desktop HD */
@media (max-width: 1200px) {
    .nav-element{
    font-size: 30px
  }
  .attributes-page {
    font-size: 160px;
  }
  #circle{
    height:300px;
    width:300px;
    margin-left: 600px;
  }
  .proj-img{
    height:300px;
    width:300px;
  }
    .carousel ul{
  margin-left: 100px;
  padding-top:80px;
}
}

