body{
  margin: 0px;
  padding: 0px; 
  font-family: Antonio, Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  line-height: 44px;
}

/*COVER PAGE*/
#cover {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

.branding, .nav-element{
  margin-top: -10px;
  color:#1DABB8;
}

.nav-element{
  display: inline;
  float:left;
  position:relative;
  padding-left:1em;
}

#nav-list{
  background-color: transparent;
  box-shadow: none;
  margin-left: -1%;
  margin-top: 0%;
  padding-top: .5%;
  width: 110%;
  position:fixed;
  z-index:3;
}


#circle{
  border: 1px solid #1DABB8;
  margin: 10% 0 0 41%;
  height: 10em;
  width: 10em;
  border-radius:100%;
  background-color: #1DABB8;
  position: relative;
}

#tag-line{
  text-align:center;
  margin: 1% 3%;
  color:#1DABB8;
  font-size:1.4em;
}



#cover2{
  margin-top:270px;
  z-index: 2;
  max-width: 100%;
}

 #title{
  margin-bottom: 600px; 
  z-index: 4;
}

/*ABOUT */
#about, #skills, #projects, footer{
  background-color:white;
  margin-top:260px;
  height:600px;
  width: 100%;
  z-index:2;
}

#about{
  padding: 2em;
  margin-top: 30%;
  text-align: center;
}

#personal-pic{
 height: 5em;
 width: 5em;  
 background: url(../images/portfolio-pic.jpg);
 border-radius: 100%;
 margin-left:45%;
 margin-bottom: 2%;
 border: 1px solid #1DABB8;
}

.about-page, footer{
  margin-top: -10px;
  text-align: center;
}

.attributes-page {
  text-align: center;
  margin-top:15%;
  font-size: 5em;
  color:white;
}


#nav-list.past-main {
  transition: all 2s;
  background-color:rgba(255,255,255,1)
}

#projects{
  margin-top:-10px;
}

footer{
  margin-top: -50px;
  height:500px;
  background-color: #1DABB8;
}

#skills{
  margin-top: -10px;
  background-color: #1DABB8;
  white-space: nowrap;
}

/*SKILL ICONS*/
.devicon-css-original, .devicon-jquery-original, .devicon-html5-original, .devicon-ruby-original,.devicon-postgresql-original, .devicon-rails-plain, .devicon-nodejs-original, .devicon-backbonejs-original, .devicon-postgresql-original {
  max-height: 150px;
  max-width: 150px;
}

.row{
  display:block;
  float: center;
  margin: 0px 0px 0px 150px;
  padding: 30px;
}

.row1{
  padding: 4%;
  margin-left: 25%;
}

.row2{
  margin-left: 27%;
}

/*PROJECTS*/
.proj-img{  
  height:12em;
  width:12em;
  
}


.proj-header{
  padding-top:35px;
  font-size: 40px;
  text-align: center;
}

.carousel ul{
  margin-left: 18%;
  padding-top:3%;
}

.carousel ul li{
  padding: 2% 4%;
  display: inline;
}

.proj-img:hover{
  transition: all 1s;
  height: 380px;
  width:380px;
}

/*CONTACT FORM -- See Skeleton Page*/

/*FOLLOW ME ICONS*/
.fa{
  padding-right:20px;
}

a:hover{
  fill: black;
 
}

span{
  padding-bottom:100px;
}


/*MEDIA QUERIES*/
/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  #circle{
    margin: 10% 0 0 35%;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  #personal-pic{
    margin-left: 43%;
  }
  .attributes-page{
    margin-top:23%;
  }
  .row1 {
    padding: 8%;
    margin-left: 11%;
  }
  .row2 {
    margin-left: 17%;
  }
  .carousel ul {
    margin-left: 5%;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .row1{
    padding: 9%;
    margin-left: 11%;
  }
  .row2 {margin-left: 18%;}
  .carousel ul {
    margin-left: 5%;
    padding-top: 3%;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  #circle{margin: 10% 0 0 40%;}
  .row1{
    padding-bottom:1%;
    margin-left:21%;
  }
  .row2 {margin-left: 28%;}
  .attributes-page {
    margin-top: 16%;
  }
  .carousel ul {margin-left: 18%;}
}

